<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <ul>
    <li>
      <article>
        <div class="info">
          <span><%= post.date || 'No date' %></span>
          <span><%= post.author %></span>
        </div>
        <h1><%= post.title %></h1>
        <p><%= post.text %></p>
      </article>
    </li>
  </ul>
</body>
</html>
